.App {
  text-align: center;
  margin: 0;
  padding: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Characters {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

h1 {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: #282c34;
  color: antiquewhite;
  padding: 30px;
  font-size: 3rem;
  margin: 0;;
}

h2 {
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.students-title {
  grid-row-start: 2;
  grid-column-start: 1;
}
.adults-title {
  grid-row-start: 2;
  grid-column-start: 2;
  
}

.student  {

}

#A5a0fa648ae5bc100213c2332

ul{
  list-style: none;
  padding: 0;
}